
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.router-outlet {
  min-height: 100%;
}

.footerbar-container {
  margin-top: 40px;
  height: 40px;
  width: 100%;

  background: #2e3869;
  color: white;
}
