<div class="navbar-padding">

  <div class="login-error-box" *ngIf="authorized===false">
    <div>
      Remember to login
    </div>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Time Range</mat-label>
    <mat-select [(ngModel)]="selectedTimeRange" (ngModelChange)="getTopArtists();getTopTracks()">
      <mat-option *ngFor="let timeRange of timeRanges" [value]="timeRange">
        {{timeRange.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Number of artists</mat-label>
    <input matInput type="number" placeholder="{{amount}}" [ngModel]="amount" (ngModelChange)="onChange($event)">
  </mat-form-field>

  <div class="listings">

    <div class="artist-listing" *ngIf="artists!==undefined">
      <b>Top-Artists</b>
      <div *ngFor="let artist of artists">
        <div class="artist-listing-entry">
          <picture>
            <img src="{{artist.images[0].url}}" width=40px alt="Picture of artist">
          </picture>
          <a class=artist-link href="{{artist.externalUrls.externalUrls.spotify}}" target="_blank" rel="noopener">
            {{artist.name}}
          </a>
        </div>
      </div>
    </div>
    <!--Top tracks-->


    <div class="artist-listing" *ngIf="tracks!==undefined">
      <b>Top-Tracks</b>
      <div *ngFor="let track of tracks">
        <div class="artist-listing-entry">
          <picture>
            <img src="{{track.album.images[0].url}}" width=40px alt="Picture of Track">
          </picture>
          <a class=artist-link href="{{track.externalUrls.externalUrls.spotify}}" target="_blank" rel="noopener">
            {{track.name}} - by {{track.artists[0].name}}
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
