.login-error-box {
  width: 33%;
  height: 33%;
  background-color: #f44336;
  border-radius: 10px;
  justify-content: center;
  margin: auto;
  padding: 15px;
  color: white;
  flex: auto;
  text-align: center;
}

.artist-listing {
  font-size: x-large;
  width: 40%;
  margin: auto;
  padding: 0 20px 20px;
}

.artist-listing-entry {
  text-align: left;
  background-color: #eaeaea;
  border: 3px solid #c7c7c7;
  margin: 4px auto 4px auto;
  border-radius: 10px;
  padding: 4px;
}

.artist-link {
  margin: auto;
  text-decoration: none;
  color: #000000;
}

.listings {
  display: flex;
}
